body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

#panel {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 400px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left; /* Alinea el título a la izquierda */
}

p {
    color: #777;
    font-size: 16px;
    margin: 10px 0;
    text-align: left; /* Alinea los detalles a la izquierda */
}

strong {
    color: #333;
    display: inline-block; /* Permite controlar el ancho del texto */
    width: 70px; /* Ajusta el ancho para alinear correctamente */
}

span {
    color: #555;
}

button {
    background-color: #035640;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #80a9d5;
}
